body{
    background-color: rgb(129, 129, 129);
}

#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 4px solid;
}

#scoreText{
    font-family: "consolas", monospace;
    font-size: 100px;
    cursor: default;
    border: 3px solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px green;
}


#blueScore {
    color: blue;
}

#redScore {
    color: red;
}

#resetBtn{
    font-family: "Permanent Marker", cursive;
    background-color: yellow;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
}

#resetBtn:hover{
    background-color: rgb(162, 162, 0);
}
